.header-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header-logo {
  width: 211.5px;
  height: 47.15px;
}

.header-ul-items {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

.header-book-now-btn {
  width: 229.97px;
  height: 60px;
  background: #0cc043;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.header-book-now-btn:hover {
  transition: all 0.3s linear;
  background-color: #026c22;
}

/* mobile header */

.mobile-header-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-mobile {
  width: 150px;
}
.nav-mobile-items-div {
  background-color: #fff;
  position: fixed;
  width: 70%;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
}
.header-ul-items-mobile {
  list-style-type: none;
}

.header-icon-open{
  color: #fff;
}