.header-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header-logo {
  width: 211.5px;
  height: 47.15px;
}

.header-ul-items {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

.header-book-now-btn {
  width: 229.97px;
  height: 60px;
  background: #0cc043;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}


