.blog-data-card-white-div {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  transition: transform 250ms;
}
.blog-data-card-white-div:hover {
  transform: translateY(-10px);
}
.blog-card-imag {
  width: 100%;
}
.blog-card-text-div {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blog-card-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #414042;
}
.blog-card-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #414042;
}
